* {
	font-family: "IBM Plex Sans";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;

	color: #434445;
}

a {
	text-decoration: underline;
	color: #FFFFFF;
}

h1 {
	font-size: 22px;
	color: #F0981B;
}

html, body {
	height: 100%;
	margin: 0;
}

input[type="email"],input[type="password"],input[type="text"] {
	padding: 0 20px;
	width: auto;
	height: 35px;

	text-align: center;
	
	background: #FFFFFF;
	border: 1px solid #86979C;
	border-radius: 3px;
}

button[type="submit"], input[type="submit"] {
	padding: 0 10px;
	width: auto;
	height: 37px;

	font-weight: bold;

	background-color: rgb(240, 152, 27);
	border: 1px solid #86979C;
	border-radius: 3px;
}

button[type="submit"]:hover, input[type="submit"]:hover,
button[type="submit"]:active, input[type="submit"]:active,
button[type="submit"]:focus, input[type="submit"]:focus {
	background-color: rgba(240, 152, 27, 0.9);
}

button[type="submit"]:focus, input[type="submit"]:focus {
	box-shadow: 0 0 0 4px rgb(0, 143, 203);
}

#error {
	background: #9B1200;
    width: 100%;
    padding: 7px 0;
    text-align: center;
    border-radius: 3px;
}

#error span {
	color: #FFFFFF;
}

.selectable {
	background-color: #DAE0E2;
	border-radius: 3px;
    box-sizing: border-box;
}

.selectable, .selectable span {
	color: #002C3E;
	font-weight: normal;
}

.selectable.selected {
	background-color: #002C3E;
    border: 3px solid #F0981B;
}

.selectable.selected, .selectable.selected span {
	color: #FFFFFF;
	font-weight: bold;
}

ul {
	list-style: none;
	padding: 0;
	overflow-y: auto;
}

li {
	position: relative;
	padding: 7px;
	margin-bottom: 2%;
}

li > span {
	vertical-align: middle;
}

li > button {
	position: absolute;
	height: 100%;
	right: 0;
	top: 0;

	background: rgba(0,0,0,0.2);
	border: 0;
	border-radius: 0 3px 3px 0;
}

li > button:hover {
	background: rgba(0,0,0,0.4);
}

li.selected > button {
	top: 0.5px;
	height: calc(100% - 1px);
	border-radius: 0;
}