* {
	font-family: "IBM Plex Sans";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;

	color: #434445;
}

a {
	text-decoration: underline;
	color: #FFFFFF;
}

html, body {
	height: 100%;
	margin: 0;
}

input[type="email"],input[type="password"] {
	padding: 0px 20px;
	width: auto;
	height: 37px;

	text-align: center;
	
	background: #FFFFFF;
	border: 1px solid #86979C;
	border-radius: 3px;
}

button, input[type="submit"] {
	padding: 7px 56px;
	width: auto;
	height: 37px;

	font-weight: bold;

	background: #F0981B;
	border: 1px solid #86979C;
	border-radius: 3px;
}